.search-wrapper {
	position: fixed;
	top: .25rem;
	right: .25rem;
	left: .25rem;

	height: 2rem;

	.search-box {
		box-sizing: border-box;
		width: 100%;
		height: 100%;

		font-size: 1rem;
	}
}

.path {
	position: fixed;
	top: 2.25rem;
	right: 0;
	left: 0;

	height: 1.25rem;
}

.passwords, .password-actions {
	position: absolute;
	top: 3.5rem;
	right: 0;
	bottom: 2.25rem;
	left: 0;

	overflow-y: scroll;

	margin: 0;
	padding: 0;

	.entry {
		padding: .25rem;

		cursor: pointer;
		-moz-user-select: none;
		user-select: none;
	}

	.entry:hover {
		background-color: #ADADAD;
	}

	.password {

	}

	.directory {
		font-weight: bold;
	}
}

.hidden {
	display: none !important;
}

.update {
	position: fixed;
	bottom: .25rem;
	left: .25rem;

	width: 50%;
}
